<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gahon.leftchild.dao.DemandMapper">
  <resultMap id="BaseResultMap" type="com.gahon.leftchild.model.Demand">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="did" jdbcType="INTEGER" property="did" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="hid" jdbcType="INTEGER" property="hid" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
  </resultMap>
</mapper>