<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gahon.leftchild.dao.PointMapper">
    <resultMap id="BaseResultMap" type="com.gahon.leftchild.model.Point">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="pid" jdbcType="INTEGER" property="pid"/>
        <id column="uid" jdbcType="INTEGER" property="uid"/>
        <id column="vid" jdbcType="INTEGER" property="vid"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="lat" jdbcType="VARCHAR" property="lat"/>
        <result column="lng" jdbcType="VARCHAR" property="lng"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="describe" jdbcType="VARCHAR" property="describe"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="detail" jdbcType="VARCHAR" property="detail"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
</mapper>